///
/// CIS 700 Machine Learning
/// Final Project | @Renzo Carpio
/// 
///

/* Footer */

	#footer {
		.copyright {
			color: _palette(fg-light);
			font-size: 0.9em;

			a {
				color: inherit;
			}
		}
	}