################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CIS700FinalV3/v17/Preview/Browse.VC.opendb
